@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  box-sizing: border-box;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

.page-404-wrap {
  background-color: #e6f7fa;
  padding: 50px 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-404-wrap .message-box {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 20px;
  max-width: 360px;
}

.page-404-wrap .message-box h1 {
  font-size: 170px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 800;
  color: transparent;
  text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}

.page-404-wrap .message-box h5 {
  font-size: 22px;
  font-weight: 600;
}

.page-404-wrap .message-box p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.page-404-wrap .buttons-con .action-link-wrap {
  margin-top: 40px;
}

.page-404-wrap #Polygon-1 {
  animation: float 1s infinite ease-in-out alternate;
}

.page-404-wrap #Polygon-2 {
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.2s;
}

.page-404-wrap #Polygon-3 {
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.4s;
}

.page-404-wrap #spaceman {
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.4s;
}

.page-404-wrap #Polygon-4 {
  animation: float 1s infinite ease-in-out alternate;
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.6s;
}

.page-404-wrap #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.8s;
}

.page-404-wrap #planet {
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.8s;
}

.page-404-wrap .error-svg {
  max-width: 500px;
  width: 100%;
}

.page-404-wrap.light {
  background-color: #e6f7fa;
  color: #1d1d1d;
}

.page-404-wrap.light h5, .page-404-wrap.light p {
  color: #1d1d1d;
}

.page-404-wrap.light h1 {
  -webkit-text-stroke: 4px #1d1d1d;
  text-stroke: 4px #1d1d1d;
}

.page-404-wrap.dark {
  background-color: #474747;
  color: #1d1d1d;
}

.page-404-wrap.dark h5, .page-404-wrap.dark p {
  color: #ffffff;
}

.page-404-wrap.dark h1 {
  -webkit-text-stroke: 4px #ffffff;
  text-stroke: 4px #ffffff;
}
